#slide-wrapper {
    /* border-left-style: solid;
    border-color: #41464b;
    border-width: 1px; */
    height: inherit;
    /* width: auto; */
    /* margin-top: 1rem; */
    padding: 1rem 1rem 5rem 1rem;
    /* margin-bottom: 5rem; */
    /* background: yellow; */
    /* background: #eee;
    box-shadow: 0 8px 8px -4px lightblue; */
}

.div-center {
    display: flex;
    justify-content: flex-start;
}

#slide {
    /* background: red; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 100%;
    padding: 0.5rem;
}

#toolbar {
    height: 6%;
    margin: 0rem 1rem;
    display: flex;
    justify-content: space-between;
}

#add-img-btn {
    padding: 0px 4px;
}

#viewPort-wrapper {
    background: #eee;
    /* background: red; */
    box-shadow: 0 8px 8px -4px #6c757c;
    height: 90%;
    margin: 1rem;
    display: flex;
}
